<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="template.css">
  <title>Document</title>
</head>
<body>
      <div class="cabecera">
        <!-- Imagen Educacion Continua -->
        <img src="img/buap.png" class="img-buap" alt="">
          <!-- Titulo -->
          <div class="titulo">
            <p> Departamento de Educación Continua </p>
            <p> Facultad de Estomatología BUAP </p>
          </div>
        </div>
        <!-- Imagen BUAP -->
        <img src="img/educon.jpg" class="img-educon" alt="">

        <div class="contenedor-texto">
          <div class="texto">
            <p class="negrita">Nombre:</p>
            <p>Enrique Peña Nieto</p>
          </div>
          <div class="texto">
            <p class="negrita">Hora Entrada:</p>
            <p>11:00AM</p>
          </div>
          <div class="texto">
            <p class="negrita">Hora Salida:</p>
            <p>4:00PM</p>
          </div>
          <div class="texto">
            <p class="negrita">Actividad:</p>
            <p>Macro Excel</p>
          </div>
          <div class="texto">
            <p class="negrita">Descripción:</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste necessitatibus, tempora numquam aspernatur iusto suscipit amet commodi fugiat blanditiis ut cupiditate non aperiam provident corporis ea architecto ab quas ratione!</p>
          </div>
          <div class="texto">
            <p class="negrita">Observaciones:</p>
            <p class="observaciones"></p>
          </div>
          <div class="encargado">
            <p class="negrita">Encargado:</p><br>
            <p>L.C.C David Lira Barroeta</p>
          </div>
          <div class="encargado">
            <p class="negrita">Firma:</p><br>
            <p>________________________________________</p>
          </div>
        </div>
</body>
</html>
